@{
    ViewData["Title"] = "AccessServiceDirectly";
}
<div class="UMcount">
<main class="mainmodel">
    <h1 class="toph1">AccessServiceDirectly</h1>
        <h2>Rand Value First:@ViewData["Numberr1"]</h2>
        <h2>Rand Value Second:@ViewData["Numberr2"]</h2>

    <h2>Add:</h2>
        <span>@ViewData["Numberr1"] + @ViewData["Numberr2"] = @ViewData["Additionn"]</span>

    <h2>Sub:</h2>
        <span>@ViewData["Numberr1"] - @ViewData["Numberr2"] = @ViewData["Substractionn"]</span>

    <h2>Mult:</h2>
        <span>@ViewData["Numberr1"] * @ViewData["Numberr2"] = @ViewData["Multiplicationn"]</span>

    <h2>Div:</h2>
        <span>@ViewData["Numberr1"] / @ViewData["Numberr2"] = @ViewData["Divisionn"]</span>

</main>
</div>