@{
    ViewData["Title"] = "PassUsingModel";
}
<div class="UMcount">
<main class="mainmodel">
    <h1 class="toph1">PassUsingModel</h1>
    <h2>Rand Value First:@Model.Number1</h2>
    <h2>Rand Value Second:@Model.Number2</h2>

    <h2>Add:</h2>
        <span>@Model.Number1 + @Model.Number2 = @Model.Add</span>

    <h2>Sub:</h2>
        <span>@Model.Number1 - @Model.Number2 = @Model.Sub</span>

    <h2>Mult:</h2>
        <span>@Model.Number1 * @Model.Number2 = @Model.Mult</span>

    <h2>Div:</h2>
        <span>@Model.Number1 / @Model.Number2 = @Model.Div</span>

</main>
</div>