@{
    ViewData["Title"] = "UsingViewBagCalc";
}
<div class="UMcount">
<main class="mainmodel">
    <h1 class="toph1">UsingViewBagCalc</h1>
        <h2>Rand Value First:@ViewBag.num1</h2>
        <h2>Rand Value Second:@ViewBag.num2</h2>

    <h2>Add:</h2>
        <span>@ViewBag.num1 + @ViewBag.num2 = @ViewBag.Add</span>

    <h2>Sub:</h2>
        <span>@ViewBag.num1 - @ViewBag.num2 = @ViewBag.Sub</span>

    <h2>Mult:</h2>
        <span>@ViewBag.num1 * @ViewBag.num2 = @ViewBag.Mult</span>

    <h2>Div:</h2>
        <span>@ViewBag.num1 / @ViewBag.num2 = @ViewBag.Div</span>

</main>
</div>